html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Times New Roman", Times, serif;
}

.container {
  flex: 1;
}

/*lists and links styles */

ul {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* HEADER */

.header {
  background-color: #1f2937;
  /* display: flex;
  flex-direction: column; */
}

.wrapper {
  padding: 0 200px;
}

/* nav*/

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.nav ul {
  display: flex;
}

.nav ul li {
  padding: 8px;
}

/* nav-content */

.nav-content-container {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  gap: 50px;
}

.nav-content h3 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.nav-content p {
  color: #f9faf8;
  margin: 10px 0;
}

.nav-content {
  width: 50%;
}

.nav-image {
  width: 50%;
}

.nav-image img {
  max-width: 100%;
  max-height: 100%;
}

.nav-content button {
  color: #f9faf8;
  background-color: #3883f6;
  padding: 5px 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
