html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Times New Roman", Times, serif;
}

.container {
  flex: 1;
}

/*lists and links styles */

ul {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* HEADER */

.header {
  background-color: #1f2937;
  /* display: flex;
  flex-direction: column; */
}

.wrapper {
  padding: 0 200px;
}

/* nav*/

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.nav ul {
  display: flex;
}

.nav ul li {
  padding: 8px;
}

/* nav-content */

.nav-content-container {
  display: flex;
  justify-content: flex-start;
  padding: 100px 0;
  gap: 50px;
}

.nav-content h3 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.nav-content p {
  color: #f9faf8;
  margin: 10px 0;
}

.nav-content {
  width: 50%;
  flex: 1;
}

.nav-image {
  width: 50%;
  flex: 1;
}

.nav-image img {
  max-width: 100%;
  max-height: 100%;
}

.nav-content button {
  color: #f9faf8;
  background-color: #3883f6;
  padding: 5px 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

/* Section 1 */

.section-one {
  text-align: center;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.section-one h3 {
  font-size: 36px;
  margin: 30px 0;
}

.section-one-content img {
  max-width: 200px;
  border: #3883f6 solid 2px;
  border-radius: 8px;
}

.section-one-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.item {
  max-width: 200px;
  padding: 0;
  margin: 0;
}

/* Section two*/

.section-two {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  min-height: 500px;
  padding: 20px initial;
}

.quote {
  font-size: 36px;
  font-style: italic;
}

.author {
  font-style: initial;
  font-size: 24px;
  text-align: end;
  font-weight: 900;
  margin-top: 10px;
}

/* Sectoion three */

.section-three {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-three-content {
  background-color: #3883f6;
  min-height: 175px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 70px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #f9faf8;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  border: 1px solid #f9faf8;
  padding: 5px 15px;
  background-color: #3883f6;
  border-radius: 8px;
  color: #f9faf8;
}

/* footer */

.footer {
  height: 80px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
}
